body {
  background-image: url('background.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
}

header > h1{
  color: #00de00;
  text-align: center;
  font-size: 40px;
}

header > img {
  width:350px;
}


#greenrow {
  background-color: #00DE00;
  opacity: 0.0;
  background-position: center;
  width: px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 120px;
  margin-right: 120px;
  opacity: 1.0;
}

#sfondoblack{
  padding-top: 100px;
  padding-bottom: 100px;
  background:rgba(000, 000, 000, 0.5);
  /* background-color: #000000;
  opacity:0.6; */
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 450px;
  margin-left: 450px;
  border-radius: 20px 20px 20px 20px;

}

div > button {
  text-align:center;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  width: 150px;
  height: 30px;
}

main{
  color: white;
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;
}

main > h2{
  font-size: 30px;
  font-family: sans-serif;
}

main > span {
  font-size: 20px;
  font-family: sans-serif;
}

main > hr{
border:none;
border-top:40px solid #fff;
border-width: 50px;
border-radius: 10px 10px 10px 10px;
}

/* 100%battery = 1410 px tot. */

#batteriagino {
  border-color: #f5b652;
  margin-right: 800px;
}

#batteriamike {
  border-color: #18C418;
  margin-right: 300px;
}

#batteriafede {
  border-color: #bf3f3f;
  margin-right: 1200px;
}



h2 {
  display: inline-block;
}

input{
  display: inline-block;
}

footer > span {
  font-size: 15px;
}
